@font-face {
    font-family: 'StarTrekFont';
    src: url('/static/fonts/Roddenberry.ttf') format('truetype');
}
@font-face {
    font-family: 'AlienRavager';
    src: url('/static/fonts/AlienRavager.ttf') format('truetype');
}
@font-face {
    font-family: 'AlienRavagerItalic';
    src: url('/static/fonts/AlienRavagerItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Rebellion';
    src: url('/static/fonts/Rebellion.ttf') format('truetype');
}
@font-face {
    font-family: 'RebellionItalic';
    src: url('/static/fonts/RebellionItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'StarTrekFuture';
    src: url('/static/fonts/StarTrekFuture.ttf') format('truetype');
}
@font-face {
    font-family: 'StartrekenterprisefutureItalic';
    src: url('/static/fonts/StartrekenterprisefutureItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Stacker';
    src: url('static/fonts/Stacker.ttf') format('truetype');
}
@font-face {
    font-family: 'GoodOT';
    src: url('/static/fonts/GoodOT.otf') format('opentype');
}
/* Dark mode styles */
body {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #333; /* Dark background color */
    color: #fff; /* White text color */
}

/* Example styles for links in dark mode */
body a {
    color: #fff; /* White link color */
}

/* Example styles for buttons in dark mode */
body button {
    background-color: #555; /* Dark button background color */
    color: #fff; /* White button text color */
}

/* Example styles for headings in dark mode */
body h1, 
body h2, 
body h3 {
    color: #fff; /* White heading text color */
}
nav.main {
    display: flex;
    justify-content: space-between; /* This will evenly space the items */
    align-items: center; /* Align items vertically in the center */
    background-color: #333; /* Background color of the navbar */
    padding: 10px; /* Add padding as needed */
    background-color: #cc6666; /* Dark red background */
    font-family: 'StarTrekFont';
    border-radius: 10px; /* Rounded corners */
}

nav.main ul {
    text-align: center; /* Center the text */
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav.main li {
    display: inline;
}

nav.main a {
    text-decoration: none;
    text-align: center; /* Center the text */
    background-color: #9999ff; /* Light blue background */
    border-radius: 25px; /* Rounded corners */
    color: rgb(0, 0, 0); /* Black text color */
    font-size: 24px;
    padding: 5px 15px; /* Add some padding */
}

nav.main a:hover {
    color: #0F0; /* Bright green on hover */
}
h1.app_name {
    color: #ff9900; /* Gold text color */
    text-align: center;
    font-family: 'Rebellion';
    font-size: 72px;
}
h2.welcome {
    color: #ff9900; /* Gold text color */
    text-align: center;
    font-family: 'Rebellion';
    font-size: 24px;
}
p.app_description {
    background-color: rgba(54, 48, 48, 0.75); /* This sets the text color to white with 50% opacity */
    padding: 25px;
    color: #FFE81F; /* Yellow text color */
    text-align: center;
    font-family: 'GoodOT';
    font-size: 24px;
}
p.app_description :hover {
    color: #0F0; /* Bright green on hover */
}
.shooting-stars-container {
    position: relative;
    width: 90%;
    height: 90%;
    overflow: hidden; /* Add this line to clip any content that goes beyond the bounds of the container */
}

.shooting-star {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
    animation: animate 3s linear infinite;
}

.shooting-star::before {
    content: '';
    position: relative;
    top: 50%;
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(315deg) translateX(-500px);
        opacity: 0;
    }
}

.shooting-star:nth-child(1) {
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 1s;
}

.shooting-star:nth-child(2) {
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}

.shooting-star:nth-child(3) {
    top: 80;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}

.shooting-star:nth-child(4) {
    top: 0;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}

.shooting-star:nth-child(5) {
    top: 0;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}

.shooting-star:nth-child(6) {
    top: 0;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}

.shooting-star:nth-child(7) {
    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}

.shooting-star:nth-child(8) {
    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}

.shooting-star:nth-child(9) {
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}

.shooting-star:nth-child(9) {
    top: 0px;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.75s;
}



