{% extends 'base.html' %}
{% load mathfilters %}
{% load group_check %}

{% block content %}
<link rel="stylesheet" href="/static/css/sci-fi-form.css">
<div class="container" style="margin-top:20px;">
    <div class="list-header index_menu">
        <h1 class="app_name">Species Index</h1>
        <a class="btn btn-primary" href="{% url 'add' %}">Add Species</a>
    </div>
    <table class="sci-fi-list">
        <thead>
            <tr>
                <th><a href="?sort={% if current_sort_field == 'name' and current_sort_dir == 'asc' %}-name{% else %}name{% endif %}">Name {% if current_sort_field == 'name' %}{% if current_sort_dir == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                <th><a href="?sort={% if current_sort_field == 'size' and current_sort_dir == 'asc' %}-size{% else %}size{% endif %}">Size {% if current_sort_field == 'size' %}{% if current_sort_dir == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                <th><a href="?sort={% if current_sort_field == 'home_world' and current_sort_dir == 'asc' %}-home_world{% else %}home_world{% endif %}">Home World {% if current_sort_field == 'home_world' %}{% if current_sort_dir == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                <th><a href="?sort={% if current_sort_field == 'type' and current_sort_dir == 'asc' %}-type{% else %}type{% endif %}">Type {% if current_sort_field == 'type' %}{% if current_sort_dir == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                <th><a href="?sort={% if current_sort_field == 'accord_status' and current_sort_dir == 'asc' %}-accord_status{% else %}accord_status{% endif %}">Accord Standing {% if current_sort_field == 'accord_status' %}{% if current_sort_dir == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                <th><a href="?sort={% if current_sort_field == 'strength' and current_sort_dir == 'asc' %}-strength{% else %}strength{% endif %}">Strength {% if current_sort_field == 'strength' %}{% if current_sort_dir == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                <th><a href="?sort={% if current_sort_field == 'toughness' and current_sort_dir == 'asc' %}-toughness{% else %}toughness{% endif %}">Toughness {% if current_sort_field == 'toughness' %}{% if current_sort_dir == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                <th><a href="?sort={% if current_sort_field == 'speed' and current_sort_dir == 'asc' %}-speed{% else %}speed{% endif %}">Speed {% if current_sort_field == 'speed' %}{% if current_sort_dir == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                <th><a href="?sort={% if current_sort_field == 'intelligence' and current_sort_dir == 'asc' %}-intelligence{% else %}intelligence{% endif %}">Intelligence {% if current_sort_field == 'intelligence' %}{% if current_sort_dir == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                {% if request.user|has_group:'admins' %}
                    <th>Hidden</th>
                {% endif %}
                
            </tr>
        </thead>
        <tbody>
            {% for species in species_list %}
                {% if not species.hidden %}
                    <tr>
                        <td><a href="{% url 'species_page' species.id %}">{{ species.name }}</a></td>
                        <td>{{ species.get_size_display }}</td>
                        <td>{{ species.home_world }}</td>
                        <td>{{ species.get_type_display }}</td>
                        <td>{{ species.get_accord_status_display }}</td>
                        <td>
                            <div class="rating-bar" style="width: {{species.strength_rating|mul:10}}%">&nbsp;{{ species.strength_rating }}</div>
                        </td>
                        <td>
                            <div class="rating-bar" style="width: {{species.toughness_rating|mul:10}}%">&nbsp;{{ species.toughness_rating }}</div>
                        </td>
                        <td>
                            <div class="rating-bar" style="width: {{species.speed_rating|mul:10}}%">&nbsp;{{ species.speed_rating }}</div>
                        </td>
                        <td>
                            <div class="rating-bar" style="width: {{species.intelligence_rating|mul:10}}%">&nbsp;{{ species.intelligence_rating }}</div>
                        </td>
                        {% if request.user|has_group:'admins' %}
                            <td>{{ species.hidden }}</td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% empty %}
                <tr>
                    <td colspan="3">No species found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
