{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Cataclysm{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" href="{% static 'css/lcars.css' %}">
    <link rel="stylesheet" href="{% static 'css/lcars-form.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
