{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<nav class="main">
    <img src="{% static 'images/cataclysm_logo.png' %}" alt="Cataclysm Logo" height="25px">
    <a href="/">Home</a>
    <a href="/species/">Species</a>
    <a href="/people/">People</a>
    <a href="/planets/">Planets</a>
    <a href="/factions/">Factions</a>
    <a href="/starships/">Starships</a>
    <a href="/vehicles/">Vehicles</a>
    <a href="/weapons/">Weapons</a>
    <a href="/armor/">Armor</a>
    <a href="/events/">Events</a>
    <!-- Add more menu items as needed -->
</nav>
</html>
