{% extends 'base.html' %}
{% load mathfilters %}
{% load group_check %}

{% block content %}
<link rel="stylesheet" href="/static/css/sci-fi-form.css">
<div class="container" style="margin-top:20px;">
    <div class="index_menu">
        <h1 class="app_name">People Index</h1>
        <a class="btn btn-primary" href="{% url 'add_person' %}">Add Person</a>
    </div>

    <div class="column-buttons ">
        <table class="toggle-table">
            <tr>
                <th colspan="{{ traits|length }}" class="table-label">Active Fields</th>
            </tr>
            <tr>
                {% for trait in traits %}
                    <th>{{ trait.name }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for trait in traits %}
                    <td><button class="column-button toggle-button active" data-column="{{ trait.name|slugify }}"></button></td>
                {% endfor %}
            </tr>
            <tr>
                <th colspan="{{ traits|length }}" class="table-label">Toggle All</th>
            </tr>
            <tr>
                <td colspan="{{ traits|length }}"><button class="all-column-button toggle-button" data-column="all"></button></td>
            </tr>
        </table>
    </div>

    <script>
        var buttons = document.getElementsByClassName("column-button");
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].addEventListener("click", function() {
                var column = this.getAttribute("data-column");
                var cells = document.getElementsByClassName(column);
                for (var j = 0; j < cells.length; j++) {
                    if (cells[j].style.display === "none") {
                        cells[j].style.display = "table-cell";
                    } else {
                        cells[j].style.display = "none";
                    }
                }
                if (this.classList.contains("active")) {
                    this.classList.remove("active");
                } else {
                    this.classList.add("active");
                }
            });
        }
        var allButton = document.getElementsByClassName("all-column-button")[0];
        allButton.addEventListener("click", function() {
            var buttons = document.getElementsByClassName("column-button");
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].click();
            }
            if (allButton.classList.contains("active")) {
                allButton.classList.remove("active");
            } else {
                allButton.classList.add("active");
            }
        });
    </script>



    <table class="sci-fi-list">
        <thead>
            <tr>
                <th class="center"><a href="?order_by=id">ID</a></th>
                <th class="center"><a href="?order_by=name">Name</a></th>
                <th class="center"><a href="?order_by=age">Age</a></th>
                <th class="center"><a href="?order_by=sex">Sex</a></th>
                <th class="center"><a href="?order_by=species">Species</a></th>
                <th class="center"><a href="?order_by=faction">Faction</a></th>
                <th class="center"><a href="?order_by=rank">Rank</a></th>
                <th class="center"><a href="?order_by=position">Position</a></th>
                {% for trait in traits %}
                    <th class="rotate {{ trait.name|slugify }} boolean"><div><span>{{ trait.name }}</span></div></th>
                {% endfor %}
                <th class="crew-image">Picture</th>
                {% if request.user|has_group:'admins' %}
                    <th><a href="?order_by=hidden">Hidden</a></th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
            {% for person in people_list %}
                {% if not person.hidden %}
                    <tr>
                        <td><a href="{% url 'person_page' person.id %}">{{ person.id }}</a></td>
                        <td>{{ person.name }}</td>
                        <td>{{ person.age }}</td>
                        <td>{{ person.sex }}</td>
                        <td>{{ person.species }}</td>
                        <td>{{ person.faction }}</td>
                        <td>{{ person.rank }}</td>
                        <td>{{ person.position }}</td>
                        {% for trait in traits %}
                            <td class="boolean {{ trait.name|slugify }}">{% if trait in person.traits.all %}<span class="green-checkmark">&#10004;</span>{% else %}<span class="gray-x">&#10006;</span>{% endif %}</td>
                        {% endfor %}
                        {% if person.image %}
                            <td>
                                <img src="{{ person.image.url }}" alt="{{ person.name }}" class="crew_list_image"></img>
                            </td>
                        {% else %}
                            <td>No image available</td>
                        {% endif %}
                        {% if request.user|has_group:'admins' %}
                            <td>{{ person.hidden }}</td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% empty %}
                <tr>
                    <td colspan="3">No people found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
