{% extends 'base.html' %}
{% load mathfilters %}
{% load group_check %}
{% block content %}
<div class="lcars-panel">
    <div class="lcars-heading">
        <span class="chip lcars-tab"></span>
        <h2>{{ current_person.name }}</h2>
    </div>
    <div class="index_menu"><a class="lcars-btn" href="{% url 'edit_person' current_person.id%}">Edit</a></div>
    <div class="lcars-detail-row">
        <div class="lcars-detail-img">
            {% if current_person.image %}
                <img src="{{current_person.image.url}}" class="crew_image">
            {% endif %}
        </div>
        <div class="lcars-detail-tables">
            <table class="sci-fi-list">
                <tr><th colspan="2" class="boolean">Basic Info</th></tr>
                <tr>
                    <th>Name</th>
                    <td>{{ current_person.name }}</td>
                </tr>
                <tr>
                    <th>Age</th>
                    <td>{{ current_person.age }}</td>
                </tr>
                <tr>
                    <th>Sex</th>
                    <td>{{ current_person.sex }}</td>
                </tr>
                <tr>
                    <th>Species</th>
                    <td>{{ current_person.species }}</td>
                </tr>
            </table>
            <table class="sci-fi-list">
                <tr><th colspan="2" class="boolean">Career</th></tr>
                <tr>
                    <th>Faction</th>
                    <td>{{ current_person.faction }}</td>
                </tr>
                <tr>
                    <th>Rank</th>
                    <td>{{ current_person.rank }}</td>
                </tr>
                <tr>
                    <th>Current Position</th>
                    <td>{{ current_person.position }}</td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td>{{ current_person.location }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <table class="sci-fi-list">
            <thead>
                <tr>
                    {% for trait in traits %}
                        <th class="boolean">{{ trait.name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% with person_traits=current_person.traits.all %}
                <tr>
                    {% for trait in traits %}
                        <td class="boolean-cell {% if trait in person_traits %}boolean-true{% else %}boolean-false{% endif %}">
                            {% if trait in person_traits %}<span class="green-checkmark">&#10004;</span>{% else %}<span class="gray-x">&#10006;</span>{% endif %}
                        </td>
                    {% endfor %}
                </tr>
                {% endwith %}
            </tbody>
        </table>
    </div>
    <div>
        <table class="sci-fi-list">
            <tr>
                <th><a href="{% url 'add_images' current_person.id%}">Add Images</a></th>
            </tr>
            {% if current_person.additional_images.count > 0 %}
                <tr>
                    <th colspan="2" class="boolean">Additional Images</th>
                </tr>
                <tr>
                    <td colspan="2">
                        <table>
                           <tr>
                            {% for image in current_person.additional_images.all %}
                                <td><img src="{{ image.additional_image.url }}" class="crew_list_additional_images"></td>
                            {% endfor %}
                           </tr>
                        </table>
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}
